<!doctype html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link th:href="@{css/output.css}" rel="stylesheet" type="text/css">
</head>
<body class="flex flex-col min-h-screen">
<script type="text/javascript">
  function submitForm(){
    var phone = document.getElementById("phone").value;
    var password = document.getElementById("password").value;
    var type = document.getElementsByName("user-type");
    var userType;
    if(phone == "" ){
      alert("手机号不能为空");
      return false;
    }
    if(password == "" ) {
      alert("密码不能为空");
      return false;
    }
    for (var i = 0; i < type.length; i++) {
      if (type[i].checked) {
        userType = type[i].value;
      }
    }
    window.location.href = '/loginCheck?phone='+phone+'&password='+password+'&type='+userType;
    }
</script>

<!-- Header -->
<header class="bg-blue-500 py-4">
  <div class="container mx-auto flex justify-between items-center px-4">
    <a href="#" class="text-white text-xl font-bold">网上学习系统</a>
    <nav>
      <ul class="flex">
        <li><a href="/register" class="text-white py-2 px-4">注册</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- Login Form -->
<section class="flex-grow bg-gray-100 py-20">

  <div class="container mx-auto max-w-md px-4">
    <div class="bg-white shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4">
      <h1 class="text-2xl font-bold mb-4">登录</h1>
      <form method="post">
        <div class="mb-4">
          <p  style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
          <label for="phone" class="block text-gray-700 font-bold mb-2">手机号</label>
          <input type="text" id="phone" name="phone"
                 class="border border-gray-300 rounded px-4 py-2 w-full focus:outline-none focus:border-blue-500"
                 required>
        </div>
        <div class="mb-6">
          <label for="password" class="block text-gray-700 font-bold mb-2">密码</label>
          <input type="password" id="password" name="password"
                 class="border border-gray-300 rounded px-4 py-2 w-full focus:outline-none focus:border-blue-500"
                 required>
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 font-bold mb-2">身份</label>
          <label class="inline-flex items-center">
            <input type="radio" class="form-radio" name="user-type" value="student" checked>
            <span class="ml-2">学生</span>
          </label>
          <label class="inline-flex items-center ml-6">
            <input type="radio" class="form-radio" name="user-type" value="teacher">
            <span class="ml-2">老师</span>
          </label>
        </div>

        <div class="flex items-center justify-between">
          <input type="button" value="登录"
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                  onclick="submitForm()"/>
        </div>
      </form>
    </div>

  </div>
</section>

<!-- Footer -->
<footer class="bg-blue-500 py-4 mt-auto">
  <div class="container mx-auto text-white text-center">
    <p>&copy;2023 泽宇的毕业设计</p>
  </div>
</footer>
</body>
</html>