<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title></title>
  <link th:href="@{css/output.css}" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div class="container mx-auto px-4 py-8">
  <div class="bg-white rounded shadow overflow-hidden">
    <!-- 视频区域 -->
    <div class="relative">
      <div class="aspect-ratio-16/9">

        <video class="w-full h-full object-cover" th:src="@{/showVideo(fileName=${video.getVideo()})}" controls="controls"></video>
      </div>

    </div>

    <!-- 视频介绍区域 -->
    <div class="px-4 py-2">
      <h2 class="text-lg font-medium mb-2" th:text="${video.getName()}"></h2>
    </div>
  </div>
</div>
</body>
</html>